{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Recetas</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.css'%}" />
  <!--slick slider stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- slick slider -->

  <link rel="stylesheet" href="{%static 'css/slick-theme.css'%}" />
  <!-- font awesome style -->
  <link href="{%static 'css/font-awesome.min.css'%}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{%static 'css/style.css'%}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{%static 'css/responsive.css'%}" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="main_body_content">

    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{%static 'index.html'%}">
             Candy Store
            </a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="{%url 'menu:index'%}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{%url 'menu:about'%}"> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{%url 'menu:chocolate'%}">Chocolates</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{%url 'menu:testimonial'%}">Testimonial</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{%url 'menu:contact'%}">Contact Us</a>
                </li>
              </ul>
              <div class="quote_btn-container">
                <form class="form-inline">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
                <a href="">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <!-- about section -->

    <section class="about_section layout_padding ">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                Bolitas de tamarindo
                </h2>
              </div>
              <p>
               El dulce de tamarindo generalmente se encuentra en forma de pequeñas bolas que se pueden comprar en las distintas celebraciones de los municipios de Guatemala, principalmente en las fiestas patronales.
                <br>
                Ingredientes
                <br>
              <ul>
              <li>
              2 libras de tamarindo
               </li>
              <li>
               3 libras de azucar.
               </li>
             <li>
               Colorante vegetal.
               </li>
             </ul>
              <p>
                Preparación<br>
                Primero, pelar el tamarindo, colocarlo en un recipiente hondo con agua para retirar los residuos de cáscara, escurrir y dejar reposar.<br>
                Después, agregar el azúcar poco a poco e ir mezclando con una paleta de madera hasta lograr una masa maleable.<br>
                Agregar el colorante y seguir mezclando.<br>
                Tomar porciones pequeñas y formar bolitas del tamaño deseado.<br>
                Finalmente, espolvorear las bolitas con azúcar y dejar secar a temperatura ambiente.<br>
              </p>
                </p>
              <a href="{%url 'menu:contact'%}">
                <span>

                </span>
                <a href="{%url 'menu:contact'%}">
                <img src="" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="https://i.postimg.cc/2SX7XcFq/tamarindo2.jpg" width="600" height="500">
            </div>
          </div>
        </div>
      </div>
    </section>
    <div>
     <section class="about_section layout_padding ">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                Alborotos
                </h2>
              </div>
              <p>
               El alboroto es un dulce típico guatemalteco característico de las fiestas patronales, es un dulce que le da un distintivo a este tipo de celebraciones debido a su peculiar forma y a su colorido. ¡Aprende a prepararlos de manera sencilla!
                <br>
                Ingredientes para hacer alboroto guatemalteco
                <br>
              <ul>
              <li>
              1 libra de maicillo
               </li>
              <li>
               1/2 trozo de panela.
               </li>
             <li>
               2 onzas de miel.
             </li>
               <li>
               Agua.
               </li>
             </ul>
              <p>
                El primer paso para preparar este dulce típico es lavar y secar muy bien el maicillo.<br>
                Colocar el maicillo en un sartén con tapadera, a fuego lento hasta que el maicillo reviente.<br>
                Colocar en una olla aparte 1/2 taza de agua, la panela rallada, la miel y cocinar a fuego lento hasta que la mezcla se encuentre en punto de hilo.<br>
                Dejar enfriar la mezcla.<br>
                Agregar el maicillo a la mezcla, tomar porciones medianas y dar la forma deseada.<br>
                Por último se le puede agregar colorante de cocina si se desea.<br>
              </p>
                </p>
              <a href="{%url 'menu:contact'%}">
                <span>

                </span>
                <a href="{%url 'menu:contact'%}">
                <img src="" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="https://i.postimg.cc/SsBHwLC4/Alboroto2.png" width="800" height="500">
            </div>
          </div>
        </div>
      </div>
    </section>
     </div>
     <div>
    <section class="about_section layout_padding ">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                Manzanas en Miel
                </h2>
              </div>
              <p>
               Las Manzanas con Caramelo son parte de los postres guatemaltecos que se encuentran en las ferias patronales, son características y atractivas por su color rojo vivo.<br>

                Si las has comido y te preguntaste cómo las harán, en tres simples pasos te contamos cómo podrás hacerlas en casa con una práctica y sencilla receta.<br>
                <br>
                Ingredientes para hacer manzanas en miel
                <br>
              <ul>
              <li>
              1 ½ libras de azúcar
               </li>
              <li>
               1 taza de agua.
               </li>
             <li>
               10 manzanas macizas
             </li>
               <li>
                10 palitos
               </li>
               <li>
                Jugo de ½ limón
               </li>
               <li>
                Color vegetal rojo
               </li>
               <li>
                Anicillos
               </li>
             </ul>
              <p>
                Colocar en una olla el agua, azúcar, jugo de limón y colorante vegetal, llevar al fuego y dejar hervir sin mover la miel.<br>
                Por otro lado, lavar las manzanas, colócarles a cada una un palito, cuando la miel tenga punto de bolita dura, introducir las manzanas cubriéndolas bien con la miel.<br>
                Decorar con anisillos antes de que seque la miel.<br>
              </p>
                </p>
              <a href="{%url 'menu:contact'%}">
                <span>

                </span>
                <a href="{%url 'menu:contact'%}">
                <img src="" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="https://i.postimg.cc/Bb0tJVKQ/manzanas2.jpg" width="800" height="500">
            </div>
          </div>
        </div>
      </div>
    </section>
     </div>
         <div>
    <section class="about_section layout_padding ">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                Canelitas de Leche
                </h2>
              </div>
              <p>
               Las Canillitas de Leche son un dulce típico guatemalteco delicioso, ya que se elaboran con tres simples ingredientes: la leche, azúcar y canela. Aquí te presentamos una útil receta para que las prepares.<br>
                Se les llama así por su forma alargada y son preparadas de forma tradicional, sin preservativos químicos o proceso industrial, es por eso que tienen un sabor único y especial.<br>
                <br>
                Ingredientes de las Canillitas de leche
                <br>
              <ul>
              <li>
              1 litro de leche.
               </li>
              <li>
               2 libras de azúcar.
               </li>
             <li>
               1 raja de canela.
             </li>
             </ul>
              <p>
                Primero, añadir todos los ingredientes anteriores en un bowl y mezclarlos bien.<br>
                Cocinar a fuego lento el contenido del recipiente.<br>
                Mover continuamente hasta que se forme una masa uniforme. Puede que esto se lleve aproximadamente 3 horas.<br>
                Se recomienda dejar reposar un poco al retirar del fuego.<br>
                Luego cortar de forma y tamaño que se desee.<br>
                Finalmente, dejar enfriar.<br>
                Este postre delicioso es uno de los sabores más tradicionales del país. Ahora podrás prepararlo para tus amigos y familia. ¡Qué delicia!<br>
              </p>
                </p>
              <a href="{%url 'menu:contact'%}">
                <span>

                </span>
                <a href="{%url 'menu:contact'%}">
                <img src="" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="https://i.postimg.cc/htLdvWYw/canelitas-de-leche2.jpg" width="800" height="500">
            </div>
          </div>
        </div>
      </div>
    </section>
     </div>
         <div>
    <section class="about_section layout_padding ">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                Nuegados
                </h2>
              </div>
              <p>
               Los nuégados guatemaltecos son pequeñas bolitas de masa, fritas y cubiertas con un glaseado especial de azúcar. Este postre o dulce típico es característico de las fiestas patronales del país, en las cuales los venden en pequeñas torres. ¡Prepáralos en casa con esta receta!<br>
                Ingredientes
                <br>
              <ul>
              <li>
              3 onzas de azúcar
               </li>
              <li>
               4 huevos.
               </li>
             <li>
               3 onzas de manteca vegetal.
             </li>
              <li>
                2 onzas de levadura en polvo.
             </li>
              <li>
                1/2 vaso de agua.
             </li>
              <li>
                1 libra de harina.
             </li>
              <li>
                1/2 tasa de aceite.
             </li>
               <li>
                1/2 tasa de azúcar glass o azúcar pulverizada.
             </li>
               <li>
                Anís al gusto
             </li>
             </ul>
              <p>
                Colocar en un tazón el azúcar, huevos, manteca vegetal, agua y levadura en polvo.<br>
                Luego, batir los ingredientes hasta tener obtener una textura suave y homogénea.<br>
                Agregar a la mezcla el harina y el anís.<br>
                Con la mezcla obtenida formar bolitas que quepan en la palma de la mano.<br>
                Después, calentar el aceite en un sartén y freír las bolitas a fuego lento.<br>
                Colocar el azúcar glass en una bandeja y empanizar las bolitas.<br>
                Dejar enfriar, servir y degustar.<br>
                Este es un platillo perfecto para consumir como postre. ¡Consiente a tu paladar con el dulce sabor de esta comida popular en Guatemala!<br>
              </p>
                </p>
              <a href="{%url 'menu:contact'%}">
                <span>

                </span>
                <a href="{%url 'menu:contact'%}">
                <img src="" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="https://i.postimg.cc/T24XBKt2/nuega2.jpg" width="800" height="500">
            </div>
          </div>
        </div>
      </div>
    </section>
     </div>

    <!-- end about section -->


    <!-- info section -->
  <section class="info_section layout_padding2">
      <div class="container">
        <div class="row info_form_social_row">
          <div class="col-md-8 col-lg-9">
            <div class="info_form">
              <form action="">
                <input type="email" placeholder="Enter your email">
                <button>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">

            <div class="social_box">
              <a href="https://www.facebook.com/?stype=lo&jlou=Aff581Nv-Pi9dtTzLivkpdfVOwY0wU7Xa34ut1AQCsokNs7_cBU4lXpiW04WxmqnL-Kl5enMa37T0IJbjWnC85RJLoqMD-hzxiV1Oxk0sWPurA&smuh=19252&lh=Ac9k7wTKWty1dLrkSeY">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/iniciarsesion?lang=es">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="row info_main_row">
          <div class="col-md-6 col-lg-3">
            <div class="info_links">
              <h4>
                Menu
              </h4>
              <div class="info_links_menu">
                <a href="{%static 'index.html'%}">
                  Home
                </a>
                <a href="{%static 'about.html'%}">
                  About
                </a>
                <a href="{%static 'chocolate.html'%}">
                  Chocolates
                </a>
                <a href="{%static 'testimonial.html'%}">
                  Testimonial
                </a>
                <a href="{%static 'contact.html'%}">
                  Contact us
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_detail">
              <h4>
                Company
              </h4>
              <p class="mb-0">
                Nos dedicamos a la elaboración de productos artesanales, con el fin de no perder la cultura Guatemalteca.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <h4>
              Contact Us
            </h4>
            <div class="info_contact">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +56161837
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope"></i>
                <span>
                  candystore@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info_section -->

  </div>

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <div class="container">
      <div class="col-md-11 col-lg-8 mx-auto">
        <p>
          &copy; <span id="displayYear"></span> BY ASHLY ESCARLETTE
          <a href="https://html.design/">ALVAREZ MOLINEROS</a>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="{%static 'js/jquery-3.4.1.min.js'%}"></script>
  <!-- bootstrap js -->
  <script src="{%static 'js/bootstrap.js'%}"></script>
  <!-- slick slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
  <!-- custom js -->
  <script src="{%static 'js/custom.js'%}"></script>

</body>

</html>